*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 20px;
  padding: 0;
  font-family: sans-serif;
  background: #f4f4f4;
}

.clear {
  clear: both;
  content: "";
}

.game {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}
  .game-info {
    margin-bottom: 20px;
    background: #945e5e;
    padding: 7px;
    text-align: center;
    color: #fff;
    min-height: 100px;
    border-radius: 7px;
    
  }
  .info {
      display: block;
      margin-top: 15px;
    }

  .board {
  }

  .cell {
    background: #7b7b7b;
    border: 1px solid #fff;
    float: left;
    line-height: 45px;
    height: 45px;
    text-align: center;
    width: 45px;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;

    &:focus {
      outline: none;
    }
  }

  .hidden {
    background: #2e2829;
  }

  .is-flag,
  .is-mine {
    color: #fc543c;
  }

  .myButton {
  box-shadow: 0px 10px 14px -7px #3e7327;
  background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
  background-color:#77b55a;
  border-radius:4px;
  border:1px solid #4b8f29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:7px 21px;
  text-decoration:none;
  text-shadow:0px 1px 0px #5b8a3c;
}
.myButton:hover {
  background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
  background-color:#72b352;
}
.myButton:active {
  position:relative;
  top:1px;
}

